*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



footer{
    width: 1400px;
    height: 474px;
    flex-shrink: 0;
    margin: auto;
    margin-top: 40px;
}


.footer-div {
    display: flex;
}


.foter-img {
    margin-top: 100px;
    margin-left: 100px;
}

.foter-img p {
    width: 300px;
    color: var(--Gray, #777);
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
}

.foter-img h6 {
    width: 250px;
    color: var(--Gray, #777);
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    margin-top: 64px;
}

.grup271{
    width: 642px;
    height: 240px;
    flex-shrink: 0;
    margin-top: 100px;
    margin-left: 179px;
    display: flex;
    gap: 96px;
}

.qator-1 h5 {
    color: #000;
    font-family: Open Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px; 
}

.qator-1 p {
    color: var(--Gray, #777);
    font-family: Open Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
}

.qator-2  h5 {
    color: #000;
    font-family: Open Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px; 
}

.qator-2 p {
    color: var(--Gray, #777);
    font-family: Open Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px; 
}
.qator-3 h5 {
    color: #000;
    font-family: Open Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px; 
}

.qator-3 p {
    color: var(--Gray, #777);
    font-family: Open Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
}

