*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.contener {
width: 1400px;
height: 7054px;
background: #FFF;
margin: auto;
}

.reactangle {
 width: 1400px;
height: 798px;
flex-shrink: 0;
background: #0A2640;
}

header {
    padding-top: 56px;
}

.section1 {
 display: flex;
width: 1200px;
align-items: center;
margin: auto;
margin-top: 64px;
}

.left h3 {
width: 567px;
height: 138px;
flex-direction: column;
justify-content: center;
color: #FFF;
font-family: Manrope;
font-size: 48px;
font-style: normal;
font-weight: 400;
line-height: 72px;
}

.left p {
align-self: stretch;
color: var(--Light-Grey, #F1F1F1);
font-family: Open Sans;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 28px;
}

.btn {
    display: flex;
    gap: 24px;
}

.th button{
    color: var(--Dark-Blue, #0A2640);
font-family: Open Sans;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: 28px; 
display: flex;
padding: 16px 56px;
justify-content: center;
align-items: center;
gap: 8px;
border-radius: 56px;
border: 2px solid #69E6A6;
background: var(--Green, #65E4A3);
}

.ty button {
padding: 16px 56px;
justify-content: center;
align-items: center;
gap: 8px;
border-radius: 56px;
border: 2px solid #FFF;
margin-top: 10px;
}

.logos img {
    margin: auto;
    margin-left: 100px;
    margin-top: 84px;
}

.heading{
display: flex;
width: 842px;
height: 184px;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 12px;
flex-shrink: 0; margin: auto;
}

.heading h5 {
    margin-top: 82px;
color: var(--Gray, #777);
font-family: Open Sans;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 32px;
}

.heading h2 {
width: 842px;
color: #000;
text-align: center;
font-family: Manrope;
font-size: 48px;
font-style: normal;
font-weight: 400;
line-height: 72px;
}

.element {
    display: flex;
    gap: 100px;
    margin-top: 80px;
}

.card  {
 display: flex;
width: 300px;
height: 575px;
padding-bottom: 0px;
flex-direction: column;
align-items: center;
flex-shrink: 0;
margin-left: 150px;
}

.card1 {
    display: flex;
    width: 300px;
    height: 575px;
    padding-bottom: 0px;
    flex-direction: column;
    align-items: center;
    flex-shrink: 0;
}

.card2 {
    display: flex;
    width: 300px;
    height: 575px;
    padding-bottom: 0px;
    flex-direction: column;
    align-items: center;
    flex-shrink: 0;
}

.card h5 {
width: 293px;
color: #000;
font-family: Open Sans;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: 36px;
}

.card p {
    width: 293px;
    color: var(--Gray, #777);
    font-family: Open Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
}

.card span{
color: #0A2640;
font-family: Open Sans;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: 36px;
margin-top: 28px;
margin-left: -160px;
}

.card1 h5 {
    width: 293px;
    color: #000;
    font-family: Open Sans;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 36px;
}

.card1 p {
 width: 293px;
color: var(--Gray, #777);
font-family: Open Sans;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 32px; 
}
.card1 span {
 color: #0A2640;
font-family: Open Sans;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: 36px;
margin-top: 28px;
margin-left: -160px;
}

.card2 h5 {
width: 293px;
color: #000;
font-family: Open Sans;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: 36px;
}

.card2 p {
width: 293px;
color: var(--Gray, #777);
font-family: Open Sans;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 32px;
}

.card2 span {
    color: #0A2640;
    font-family: Open Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 36px;
    margin-top: 28px;
    margin-left: -160px;
}

.odam {
width: 1137px;
height: 610px;
flex-shrink: 0;
display: flex;
gap: 150px;
background-color: #0A2640;
margin: auto;
}



.pdam {
 width: 1137px;
height: 610px;
flex-shrink: 0;
border-radius: 24px;
background: url(/img/pdam.png), cover no-repeat;
}