
/* header start */
.nav {
    position: sticky;
    top: 0;
    background-color: white;
}
.nav-item {
    border-radius: 24px;
    border: 2px solid #0A2640;
    display: flex;
    padding: 8px 40px;
    align-items: flex-start;
    gap: 8px;
    width: 128px;
    height: 40px;
}
/* header end  */
h1 {
    color: #0A2640;
    text-align: center;
    font-family: Manrope;
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    line-height: 84px; 
}
.section p {
    color: #0A2640;
    font-family: Open Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px; 
}

/* section1 start */
.section1 h6 {
    color: var(--Dark-Blue, #0A2640);
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px; 
}
.section1 span {
    color: var(--Gray, #777);
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; 
}
.section1 h2 {
    color: #000;
    font-family: Manrope;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: 72px; 
}
.section1 p{
    color: #000;
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; 
}
.section1-image {
    width: 45%;
    
}
.hr {
    width: 80%;
    height: 1px;
    flex-shrink: 0;
    background: var(--Dark-Blue, #0A2640);
    margin-left: 10%;
}
/* aection1 end */
/* section2 start */
.section2 h3 {
    color: #000;
    font-family: Manrope;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: 72px; 
}
.section2-1box {
    margin-bottom: 3rem;
    width: 30%;
}
.section2-1img {
    width: 80%;
    
    
}
/* section2 end */

/* section3 start */
.gray {
    color: var(--Gray, #777);
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
}
.category {
    color: var(--Dark-Blue, #0A2640);
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px; 
    margin-right: 10px;
}

.button {
    padding: 16px 56px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 56px;
    border: 2px solid var(--Dark-Blue, #0A2640);
    width: 224px;
    height: 60px;
    margin-left: 40%;
    margin-bottom: 50px;
    margin-top: 3rem;
    
}
.section3 {
    background-color: darkblue;
    width: 1200px;
   
    flex-shrink: 0;
    border-radius: 12px;
    background: var(--Dark-Blue, #0A2640);
}
.green {
    background-color: #65E4A3;
}
.section3-label {
    color: white;
    color: #FFF;
    text-align: center;
    font-family: Manrope;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: 72px; 
}
.section3 input {
    border-radius: 240px;
    border: 2px solid #FFF;
    background: #FFF;
    width: 370px;
    height: 56px;
    flex-shrink: 0;
}
/* section3 end */


/* section2 start */
/* section2 end */



/* section2 start */
/* section2 end */